@media screen and (max-width: 991px) {
  html {
    font: 5px/1.6 Montserat, sans-serif;
  }
  .brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 6.3rem;
  padding: 0 2rem;
}
}

@media screen and (max-width: 1200px) {
  .menu__icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
  }
  header nav{
    display: none;
  }
  
  .menu__links {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 5rem;
    background-color: #333;
    z-index: 1000;
    overflow: auto;
  }
	.window{display: none;}
  .window_media {
    display: flex;
    width: 73.75rem;
  height: 38.8rem;
    
  }
  .side_media{
    display: block;
  }
  .side{
    display: none;
  }
  .order{
    flex-direction: column;
    justify-content: center;

  }
  .advantages{
    justify-content: center;
  }
}