@media screen and (max-width: 1120px) {
  html {
    font: 14px/1.6 Montserat, sans-serif;
  }
  .brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 25rem;
  margin-top: 6.3rem;
  padding: 0 2rem;
}
.menu__icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
  }
  header nav{
    display: none;
  }
  
  .menu__links {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 5rem;
    background-color: #333;
    z-index: 1000;
    overflow: auto;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font: 16px/1.6 Montserat, sans-serif;
  }
 
  
	.window{display: none;}
  .window_media img{
    display: flex;

    
  }
  .side_media{
    display: block;
  }
  .side{
    display: none;
  }
  .order{
    flex-direction: column;
    justify-content: center;
    

  }
  .advantages{
    justify-content: center;
  }
}


  @media screen and (max-width: 769px) {
  html {
    font: 10px/1.6 Montserat, sans-serif;
  }


.brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 25rem;
  margin-top: 6.3rem;
  padding: 0 2rem;
}
}
 @media screen and (max-width: 481px) {
  html {
    font: 8px/1.6 Montserat, sans-serif;
  }
  

.brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 25rem;
  margin-top: 6.3rem;
  padding: 0 2rem;
  }
}

 @media screen and (max-width: 321px) {
  html {
    font: 4px/1.6 Montserat, sans-serif;
  }
 .brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 25rem;
  margin-top: 6.3rem;
  padding: 0 2rem;
}
}
