/*body {
	border: 4px solid orange;
	margin: 0;
} 

header, main, footer {
	border: 4px solid blue;
	margin: 5px;
}
div {
	border: 4px solid red;
	margin: 5px;
}

nav{border: 4px solid green;
	margin: 5px;

}*/
* {
	padding: 0;
	margin: 0;
	border: 0
}

html{ font: 16px/1.6 Montserat, sans-serif;
	font-weight: 400;
	margin: 0;
	
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
} 

a {
	text-decoration: none;
}
body{
	overflow-x: hidden;	
}

.container{
	width: 80%;
	/*max-width: 73.1rem;*/
	margin: 0 auto;
}



	                  /* *****   HEADER   *******/

header {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rigt_nav {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	margin-right: 2rem;
}

.logo { 
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
}
.logo img{
	width: 2.7rem;
	height: auto;
}

.fork{
	margin-left: 1rem;
}

.logo span {
	color: #8d81ac;
}

header ul{
	display: flex;
	align-items: center;
	list-style: none;
}

header li{
	margin-left: 2.5rem;
  	font-weight: 700;
}

header li a {
	color: #635c73;
	transform: .4s linear;
}

header li a:hover {
	color: #bfb4da;
}

header button {
	text-align:center;
	background: #8d81ac;
	width: 9.2rem;
	height: 2.5rem;
	border-radius: 1.3rem;
	color: #fff;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	transition: .5s linear;
	margin-left: 1.9rem;

}

header button:hover{
	background: #75669c;
}

.menu {
    text-align: left;
}

.menu__links{
	display: none;
}
.menu__links-item {
    display: block;
    padding: .6rem 0;
    color: #fff;
  }
.menu__icon span:first-child{
	width: 80%;
	margin-left: 20%;
}
.menu__icon {
   display: none;
   width: 2.5rem;
   height: 1.75rem;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: .2rem;
  width: 100%;
  background: #333;
  border-radius: .56rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: .8rem;
}

.menu__icon span:nth-child(4) {
  top: 1.6rem;
 }

.menu__links-item {
	 
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #3b3b3b;
}
.menu__links-item a{
	color: #fff;
    font-size: 2rem;
    line-height: 2rem;
	text-decoration: none;
    cursor: pointer;
    padding-left: 2rem;
   
}

.menu__links-item a:hover {
    color: #8d81ac;
}

.home div{
	width: .2rem;
	height: 3.5rem;
	background: #8d81ac;
	margin-right: 2rem;
	margin-left: .2rem;
}
.home{
	display: flex;
	align-items: center;
	 font-size: 2rem;
    line-height: 2rem;
    color: #858585;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #3b3b3b;
}

.menu_link_social {
	font-size: 2rem;
    line-height: 2rem;
    color: #858585;
    margin: 2rem;
}

.menu_link_social img{
	width: 3rem;
	height: 3rem;
	background: #fff;
	margin-right: 3rem;
	margin-top: 2rem;
}
.menu_link_social img:hover{
	background: #8d81ac;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;  
}

                     /* *****   MAIN SECTION 1   *******/
						/* *****   "Fork App"   *******/
.main_title {
	background: url('../img/laptop.png') center no-repeat;
	width: auto;
	height: auto; 
	background-size: cover;

	 
}

.title {
	display: flex;
	flex-direction: column;
	align-items:center;
	text-align: center;
	color: #fff;
}

.title h1 {
	font-size: 5.12rem;
	font-weight: 700;
	margin: 0;
	margin-top: 4rem;
	line-height: 8rem;
}

.title p {
	text-align: center;
	color: #8d81ac;
	font-family: Lato;
	font-size: 1.88rem;
	font-weight: 700;
	line-height: 3rem;
}

.title p:nth-child(3) {
	color: #848e97;
	margin-bottom: 34rem;
	font-weight: 400;
	text-transform: uppercase;
}



                     /* *****   MAIN SECTION 2   *******/
                     /*****   "REVOLUTIONARY EDITOR"  ****/


.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.download button{
	width: 24.5rem;
	height: 4rem;
	background-color: #8d81ac;
	border-radius: 2rem;
	color: #fff;
	font-weight: 700;
	font-size: 1.3rem;
	transform: translateY(-50%);
	outline: none;
	transition: .5s linear;
}

.download button:hover {
	background-color: #75669c;
}
.download p:nth-child(2) {
	color: #848e97;
	transform: translateY(-100%);
	font-size: 0.88rem;
}

.download h2 {
	font-size: 3.38rem;
	color: #635c73;
	font-weight: 700;
	text-transform: uppercase;
	margin:2.5rem auto;
}

.download p:nth-child(4) {
	font-size: 1.3rem;
	color: #323232;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0 6rem;
	margin-bottom: 2.5rem;
	line-height: 2.2rem;
}

.views {
	display: flex;
	margin-bottom: 4.4rem;
}

.views div{
	display: flex;
	align-items: center;
}

.column {
	border: 1px solid #d5d5d5;
	border-radius: .3rem;
	font-size: .8rem;
	font-weight: 700;
	margin: 0 .6rem;
}

.column div:first-child{
	background-color: #f2f2f2;
	padding: 0 0.5rem;
	border-right: 1px solid #d5d5d5;
}

.column div:last-child{
	background-color: #fff;
	padding: 0 0.5rem;
}
.column img{
	width: 1.3rem;
}



                     /* *****   MAIN SECTION 3   *******/
                     /*****   "Here is what you get"  ****/

.hard {
	background-color: #f4f4f4;
	width: 100%;
}

.order{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 120%;
	height: auto;
	padding-top: 6.25rem;
	padding-bottom: 0;
}

.advantages{
	display: flex;
	flex-direction: column;
	max-width: 40rem;
	margin-right: 4rem;
}

.piece{
	display: flex;
	padding: .6rem;
	min-width: 30rem;
}
.piece img{
	width: 6.9rem;
	height: 5.3rem;
	margin-right: 1.5rem;
}

.piece h4{
	color: #323232;
	margin-bottom: 1rem;
}

.piece p{
	color: #848e97;
	font-size: .9rem;
	line-height: 1.3rem;
}

.side_window{
	display: flex;
	flex-direction: column;
}

.side {
	color: #8d81ac;
	font-size: 3rem;
}

.side_media{
	display: none;
	color: #8d81ac;
	font-size: 3rem;
	margin-bottom: 4rem;
	text-align: center;
}

.window{
	background: url( "../img/window.png") no-repeat;
	
	transform: translateY(10%);
	
}

.window_media {
	display: none;
	width: 73.75rem;
	height: 38.8rem;
	transform: translateY(10%);
	margin-top: -2rem;
}


                     /* *****   MAIN SECTION 4   *******/
                     /*****   "Steven Strange"  ****/

.social{
	padding-top: 5.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile{
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile p:nth-child(1) {
	font-size: 1.5rem;
	color: #635c73;
	font-weight: 700;
}

.profile p:nth-child(2) {
	color: #8d81ac;
	margin-top: .5rem;
}
.profile img{
	margin-right: 1.5rem;
	width: 5.3rem;
}
/*                   *******     Slider     ********/
.all{
	display: flex;
	margin: 3.1rem 0 7.5rem 0;
}
#slider {
    position: relative;
	text-align: center;
    top: 1rem;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .coment{
	width: 500%;
	line-height: 1.6;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article p{ 
	text-align: center;
	font-size: 1.25rem;
	color: #333;
	width: 100%;
	height: 3.1rem;
}
article a{
	color: #8d81ac;
}

#desktop:checked ~ #slider{ 
	max-width: 54.4rem; 
}

#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
	background: url('../img/prev.png') no-repeat; 
	background-size: .6rem;
	float: left;
	margin: 0 0 0 -2.8rem; 
	display: block;
	height: 4.25rem;
	width: 4.25rem;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('../img/next.png') no-repeat;
	background-size: .6rem;
	float: right;
	margin: 0 -6.5rem 0 0;
	height: 4.25rem;
	width: 4.25rem;
}

label, a{
	cursor: pointer;
}

.all input{ 
	display: none;
}

#switch1:checked ~ #slides .coment{
	margin-left: 0;
}

#switch2:checked ~ #slides .coment{
	margin-left: -100%;
}

#switch3:checked ~ #slides .coment{
	margin-left: -200%;
}

#controls{ 
	margin: -13% 0 0 0;
	width: 100%;
}
#controls label:hover{
	opacity: 0.6;
}

article p:last-child{
	color:#848e97;
	margin-top: 2rem;
}
/*                   *******     Slider     ********/

.social_button{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.git button,
.twitter button,
.facebook button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.git button,
.twitter button,
.facebook button {

	width: 16.1rem;
	height: 3.3rem;
	border-radius: .3rem;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;

}
.git img, .twitter img, .facebook img  {
	margin-right: 2.5rem;
	margin-left: 1.6rem
}
.git img{
	width: 1.25rem;
}
.twitter img{
	width: 1.19rem;
}
.facebook img{
	width: .5rem;
}

.git button{
	background: #f3f3f3;
	outline: none;
}

.git button:hover {
transform: scale(1.1);
}

.twitter button{
	background: #26a6d1;
	color: #fff;
	margin: 0 2.5rem;
	outline: none;
}

.twitter button:hover {
transform: scale(1.1);
}

.facebook button{
	background: #3b5998;
	color: #fff;
	outline: none;
}

.facebook button:hover {
transform: scale(1.1);
}

.git p:nth-child(1),
.twitter p:nth-child(1),
.facebook p:nth-child(1){
	font-size: .9rem;
	color: #848e97;
	text-align: center;
	margin-top: 1.3rem;
	margin-bottom: 4.9rem;
} 



                     /* *****   MAIN SECTION 5   *******/
                 /*****   "People are talking about Fork"  ****/

.items {
	
	background: url('../img/fon1.png') no-repeat;
	background-size: cover;
	padding-top: 6.3rem;
}


.items .container h2{
	display: block;
	text-align: center;
	font-size:3rem;
	color: #fff;
	
}

.items .container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.grid_item {

	display: block;
	text-align: center; 
}

.grid_item img{
	margin-bottom: 2rem;
}

#logo1 {
	width: 10.3rem;
}

#logo2 {
	width: 9.25rem;
}

#logo3 {
	width: 3.5rem;
}

#logo4 {
	width: 14.1rem;
}

#logo5 {
	width: 10.4rem;
}
#logo6 {
	width: 6.75rem;
}

.grid_item p{
	font-family: 'Source Sans Pro', sans-serif, italic;
	font-weight: 700;
	font-size: 1rem;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.brands{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:  1fr 1fr;
	grid-gap: 3rem;
	max-width: 35rem;
	margin-top: 6.3rem;
	padding: 0 2rem;
}

.string {
	width: 70%;
	height: .1rem;
	background: #655969;
	margin: 6.25rem 0 3.1rem 0;
	text-align: center;
}


                     /* *****   MAIN SECTION 6   *******/
                 /*****   "Fork Subscription Pricing"  ****/

.buy {
	background: url('../img/fon2.png') center no-repeat;
	background-size: cover;
}

.marketplace {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 0 4.9rem 0;
}

.marketplace h2{
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 8.1rem;
}

.price {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 8.44rem;

}
 
.price button{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15.9rem;
	height: 28.75rem;
	background: rgba(255,255,255,.11);
	color: #fff;
	margin: 0 1rem 2rem 1rem;
	transition: .7s linear;
	outline: none;
}

.price button:hover {
	background: rgba(0,0,0,.16);
	transform: scale(1.1);

}

.price button div:nth-child(1){
	display: flex;
	justify-content: center;
	padding-top: 2.8rem;
	width: 15.9rem;
	height:6.1rem;
	background: rgba(255,255,255,.06);
	color: #fff;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 2.2rem;
}

.price button p:nth-child(2){
	color: #fff;
	font-size: 3.76rem;
	font-weight: 700;
	margin-bottom: 1.4rem;
}

.price button p:nth-child(3){
	color: rgba(255,255,255,.3);
	font-size: .9rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.str{
	width: 4rem;
	height: .38rem;
	background: #8d81ac;
	margin-bottom: 1.8rem;
}

.bt{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 2.6rem;
	border-radius: 1.3rem;
	background: rgba(255,255,255,.15);
	text-transform: uppercase;
	font-size: .94rem;
	margin-top: 3rem;
}

.bias {
	margin-top: 4.1rem;
}

.marketplace:last-child{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	color: #a291a5;
	padding-left: 5rem;
	padding-right: 5rem;
}


                     /* *****   MAIN SECTION 7   *******/
 						 /*****   "form"  ****/

.form{
	background: #f4f4f4;
	background-size: cover;
	
}

.form h4 {
	color: #635c73;
	font-size: 1.9rem;
	font-weight: 700;
}

.pre_foot{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 3.5rem 1.9rem;
}

.mail_form button{
	width: 8.75rem;
	height: 2.6rem;
	background: #8d81ac;
	border-radius: 1.3rem;
	font-size: .8rem;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	margin: 1.3rem 1.3rem 1.3rem 0;

}
.mail_form input{
	width: 21rem;
	height: 2.6rem;
	border-radius: 1.3rem;
	color: #c8cbcf;
	font-size: .9rem;
	outline: none;
	margin: 1.3rem 1.3rem 1.3rem 0;
}


                     /* *****   MAIN SECTION 8   *******/
 						 /*****   "form"  ****/

.pre_footer_news{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;	
	padding-bottom: 8.4rem;
}

.about_news {
	width: 30%;
	min-width: 20.4rem;
	margin-left: 1.9rem;
}

.about_news h5{
	color: #d3d1da;
	font-weight: 700;
	font-size: 1.8rem;
	margin-bottom: 3.6rem;
	margin-top: 5rem;
}

.about_news p{
	font-size: .8rem;
	color: #848e97;
	margin-bottom: .8rem;
	line-height: 1.4rem;

}
.news1 h6{
	color: #323232;
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.6;
}

.news2 h6, .news3 h6{
	color: #8d81ac;
	margin-bottom: .5rem;
	font-size: 1rem;
	line-height: 1.6;
}
.news3 p{
	margin-bottom: 1.5rem;
}

.news2 h6{
	margin-bottom: 1rem;
}
.about_news button{
	width: 10.3rem;
	height: 2.25rem;
	background: #f4f4f4;
	border-radius: .3rem;
	margin-top: 3.75rem;
}

.about_news a{
	font-size: .9rem;
	color: #8d81ac;
}

                     /* *****   footer   *******/

.footer_elements{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	line-height: 1.6rem;
	padding:0 1.9rem 6.25rem 1.9rem;

}

.element1 .logo{
margin-bottom: 2rem;
}

.element1 p{
	color: #848e97;
	font-size: .9rem;
}
.element1 {
	width: 15.9rem;
	margin-right: 2rem;
}
.element2 {
	min-width: 8.1rem;
	margin-right: 2rem;
	list-style: none;
}
.element3 {
	width: 15.1rem;
	margin-right: 2rem;
}
.element4 {
	width: 15.5rem;
}

.element2 p{
	color: #323232;
	margin-bottom: 1.2rem;
}
.element2 a{
	font-size: .9rem;
	color: #8d81ac;
	line-height: 1.4rem;
}
.element2 ul{
	list-style: none;
}

.element3 p:nth-child(1){
	font-size: 1.88rem;
	color: #3f3f3f;
	font-weight: 700;
	line-height: 1.7rem;
	margin-bottom: 1rem;
}
.element3 p:nth-child(2){
	color: #848e97;
	font-size: .75rem;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
}
.element3 p:nth-child(3){
	color: #323232;
	margin-bottom: 1.4rem;
}
.element3 p:nth-child(4){
	font-size: .87rem;
	color: #848e97;
}

.element4 p:nth-child(1){
	color: #323232;
	margin-bottom: 1.4rem;
}
.element4 p:nth-child(2){
	font-size: .87rem;
	color: #848e97;
}