/*body {
	border: 4px solid orange;
	margin: 0;
} 

header, main, footer {
	border: 4px solid blue;
	margin: 5px;
}
div {
	border: 4px solid red;
	margin: 5px;
}

nav{border: 4px solid green;
	margin: 5px;

}*/
* {
	padding: 0;
	margin: 0;
	border: 0
}

html{ font: 16px/1.6 Montserat, sans-serif;
	font-weight: 400;
	margin: 0;
	
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
} 

a {
	text-decoration: none;
}

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
body{
	overflow-x: hidden;	
}


	                  /* *****   HEADER   *******/

header {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.header{
	display: flex;
	justify-content: space-between;
}

.logo { 
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
}

.fork{
	margin-left: 1rem;
}

.logo span {
	color: #8d81ac;
}

header ul{
	display: flex;
	align-items: center;
	list-style: none;
}

header li{
	margin-left: 40px;
  	font-weight: 700;
}

header li a {
	color: #635c73;
	transform: .4s linear;
}

header li a:hover {
	color: #bfb4da;
}

header button {
	text-align:center;
	background: #8d81ac;
	width: 147px;
	height: 40px;
	border-radius: 20px;
	color: #fff;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	transition: .5s linear;
}

header button:hover{
	background: #75669c;
}


                     /* *****   MAIN SECTION 1   *******/
						/* *****   "Fork App"   *******/
.main_title {
	background: url('../img/laptop.png') center no-repeat;
	width: auto;
	height: auto; 
	background-size: cover;

	 
}

.title {
	display: flex;
	flex-direction: column;
	align-items:center;
	text-align: center;
	color: #fff;
}

.title h1 {
	font-size: 5.12rem;
	font-weight: 700;
	margin: 0;
	margin-top: 4rem;
	line-height: 8rem;
}

.title p {
	text-align: center;
	color: #8d81ac;
	font-family: Lato;
	font-size: 1.88rem;
	font-weight: 700;
	line-height: 3rem;
}

.title p:nth-child(3) {
	color: #848e97;
	margin-bottom: 34rem;
	font-weight: 400;
	text-transform: uppercase;
}



                     /* *****   MAIN SECTION 2   *******/
                     /*****   "REVOLUTIONARY EDITOR"  ****/


.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.download button{
	width: 24.5rem;
	height: 4rem;
	background-color: #8d81ac;
	border-radius: 2rem;
	color: #fff;
	font-weight: 700;
	font-size: 1.3rem;
	transform: translateY(-50%);
	outline: none;
	transition: .5s linear;
}

.download button:hover {
	background-color: #75669c;
}
.download p:nth-child(2) {
	color: #848e97;
	transform: translateY(-100%);
	font-size: 0.88rem;
}

.download h2 {
	font-size: 3.38rem;
	color: #635c73;
	font-weight: 700;
	text-transform: uppercase;
	margin:2.5rem auto;
}

.download p:nth-child(4) {
	font-size: 1.3rem;
	color: #323232;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0 6rem;
	margin-bottom: 2.5rem;
	line-height: 2.2rem;
}

.views {
	display: flex;
	margin-bottom: 4.4rem;
}

.views div{
	display: flex;
	align-items: center;
}

.column {
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	font-size: .8rem;
	font-weight: 700;
	margin: 0 .6rem;
}

.column div:first-child{
	background-color: #f2f2f2;
	padding: 0 0.5rem;
	border-right: 1px solid #d5d5d5;
}

.column div:last-child{
	background-color: #fff;
	padding: 0 0.5rem;
}



                     /* *****   MAIN SECTION 3   *******/
                     /*****   "Here is what you get"  ****/

.hard {
	background-color: #f4f4f4;
	width: 100%
	min-height:600px;
	padding-top: 3rem;
}

.flex_order{
	display: grid;
	grid-template-columns: 5% 35% auto;
	grid-template-rows: 5% auto;
	grid-gap: 2rem;
}

.advantages{
	grid-column: 1/3;
	grid-row: 1/3;
	width: 350px;
}

.advantages div .piece{
	min-width: 320px;
}
.piece{
	display: flex;
	padding: .6rem;
	min-width: 505px;
}
.piece img{
	width: 100%;
	height: 100%;
}

.piece h4{
	color: #323232;
	margin-bottom: 1rem;
}

.piece p{
	color: #848e97;
	font-size: .9rem;
	line-height: 1.3rem;
}

.piece a{display: flex;
	justify-content: center;
	color: #323232;
	font-size: .6rem;
	margin-top: 1rem;
}

.side {
	display: flex;
	color: #8d81ac;
	font-size: 3rem;
}

.window{
	background: url( "../img/window.png") no-repeat;
	background-size: cover;
	width: 120%;
	height: auto;
	overflow-x: hidden;
	transform: translateY(10%);
	
}


                     /* *****   MAIN SECTION 4   *******/
                     /*****   "Steven Strange"  ****/

.social{
	padding-top: 5.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile{
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile p:nth-child(1) {
	font-size: 1.5rem;
	color: #635c73;
	font-weight: 700;
}

.profile p:nth-child(2) {
	color: #8d81ac;
	margin-top: .5rem;
}
.profile img{
	margin-right: 1.5rem;
}
/*                   *******     Slider     ********/
.all{
	display: flex;
	margin: 3.1rem 0 7.5rem 0;
}
#slider {
    position: relative;
	text-align: center;
    top: 1rem;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .coment{
	width: 500%;
	line-height: 1.6;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article p{ 
	text-align: center;
	font-size: 1.25rem;
	color: #333;
	width: 100%;
	height: 50px;
}

#desktop:checked ~ #slider{ 
	max-width: 870px; 
}

#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
	background: url('../img/prev.png') no-repeat; 
	float: left;
	margin: 0 0 0 -45px; 
	display: block;
	height: 68px;
	width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('../img/next.png') no-repeat;
	float: right;
	margin: 0 -104px 0 0;
	height: 68px;
	width: 68px;
}

label, a{
	cursor: pointer;
}

.all input{ 
	display: none;
}

#switch1:checked ~ #slides .coment{
	margin-left: 0;
}

#switch2:checked ~ #slides .coment{
	margin-left: -100%;
}

#switch3:checked ~ #slides .coment{
	margin-left: -200%;
}

#controls{ 
	margin: -13% 0 0 0;
	width: 100%;
}
#controls label:hover{
	opacity: 0.6;
}

article p:last-child{
	color:#848e97;
	margin-top: 2rem;
}
/*                   *******     Slider     ********/

.social_button,
.git button,
.twitter button,
.facebook button {
	display: flex;
	align-items: center;
}

.git button,
.twitter button,
.facebook button {
	width: 16.1rem;
	height: 3.3rem;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;

}
.git img, .twitter img, .facebook img  {
	margin-right: 2.5rem;
	margin-left: 1.6rem
}

.git button{
	background: #f3f3f3;
	outline: none;
}

.git button:hover {
transform: scale(1.1);
}

.twitter button{
	background: #26a6d1;
	color: #fff;
	margin: 0 2.5rem;
	outline: none;
}

.twitter button:hover {
transform: scale(1.1);
}

.facebook button{
	background: #3b5998;
	color: #fff;
	outline: none;
}

.facebook button:hover {
transform: scale(1.1);
}

.git p:nth-child(1),
.twitter p:nth-child(1),
.facebook p:nth-child(1){
	font-size: .9rem;
	color: #848e97;
	text-align: center;
	margin-top: 1.3rem;
	margin-bottom: 4.9rem;
} 



                     /* *****   MAIN SECTION 5   *******/
                 /*****   "People are talking about Fork"  ****/

.items {
	
	background: url('../img/fon1.png') no-repeat;
	background-size: cover;
	padding-top: 6.3rem;
}


.items .container h2{
	display: block;
	text-align: center;
	font-size:3rem;
	color: #fff;
	
}

.items .container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.grid_item {

	display: block;
	text-align: center; 
}

.grid_item img{
	margin-bottom: 2rem;
}

.grid_item p{
	font-family: 'Source Sans Pro', sans-serif, italic;
	font-weight: 700;
	font-size: 1rem;
	color: #fff;
	line-height: 1.5;
}

.brands{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:  1fr 1fr;
	grid-gap: 3rem;
	margin-top: 6.3rem;
	padding: 0 2rem;
}

.string {
	width: 70%;
	height: 2px;
	background: #655969;
	margin: 6.25rem 0 3.1rem 0;
	text-align: center;
}


                     /* *****   MAIN SECTION 6   *******/
                 /*****   "Fork Subscription Pricing"  ****/